# Google Apps Script Web App Endpoint URL
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxVwxL5uSJUysUWfS2P857mN4xjCuHiuI9ZIOzPcwhfcsZt4gptGy5dzeHSatzRFtUVbA/exec

# Supabase Auth & DB Config
VITE_SUPABASE_URL=https://eoypytkukdaicodcwqnt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVveXB5dGt1a2RhaWNvZGN3cW50Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4MzcyNzYsImV4cCI6MjEwNjQxMzI3Nn0.FuznkyiqPBcRUaqJYUpzB_ygE3GqOIdCIckDorgmzwk

# Adapter Toggle (Set to 'true' to switch from Apps Script to Supabase)
VITE_USE_SUPABASE=false
